# Archivos temporales de Word
~$*.doc*
~$*.docx
~$*.tmp

.temp/

# Archivos temporales de Windows
Thumbs.db
Desktop.ini

# Archivos de respaldo
*.bak
*.old

# Archivos de sistema
.DS_Store

# Carpetas de entorno virtual de Python
venv/
.env/

# Archivos de Python compilados
__pycache__/
*.pyc

# Salidas de Jupyter Notebook
.ipynb_checkpoints/

# Carpetas de VSCode
.vscode/

# Otros archivos temporales
*.log

# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag
